<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }

</style>

<div class="alert alert-success" role="alert" ng-if="editSuccess">Покемон сохранён {{newPokemonId}}!</div>
<div ng-if="!pokemonLoaded">
    <span class="glyphicon glyphicon-refresh"></span>
    Loading...
</div>
<form name="pokemonForm" novalidate ng-if="pokemonLoaded">
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" ng-model="editPokemonData.name" type="text" placeholder="Имя" required>
    </div>
    <div class="form-group">
        <label>Вес</label>
        <input class="form-control" ng-model="editPokemonData.weight" type="text" placeholder="Вес">
    </div>
    <button type="submit" class="btn btn-default" ng-click="editPokemon(editPokemonData)" ng-disabled="pokemonForm.$invalid">Сохранить</button>
</form>
