<div ng-if="!listsLoaded">
    <span class="glyphicon glyphicon-refresh"></span>
    Loading...
</div>
<div class="row" ng-if="listsLoaded">
    <div class="col-md-8">

        <div class="list-group" ng-repeat="singlePokemon in pokemons">
            <a href="#!/pokemons/{{singlePokemon.name }}" class="list-group-item">
                <h4>
                    {{singlePokemon.name | uppercase }}
                </h4>
            </a>
            <a href="#!/edit/{{singlePokemon.name }}" class="list-group-item">редактировать</a>
        </div>

    </div>
    <div class="col-md-4">

        <div class="list-group">
            <div class="list-group-item" ng-repeat="singleBerry in berries">

                <h4>
                    {{singleBerry.name | uppercase }}
                </h4>

            </a>
        </div>

    </div>
</div>
